<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @customers %>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td>$<%= number_with_precision(customer.total_sales, precision: 2)%></td>
        <td><a href="<%= sale_path(customer) %>" class="button">Show</a></td>
        <td><a href="<%= edit_customer_path(customer) %>" class="button">Edit</a></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_customer_path %>" class="button">New Customer</a>
