<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Tax</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @sales %>
    <% @sales.each do |sale| %>
      <tr>
        <td>$<%= number_with_precision(sale.amount, precision: 2) %></td>
        <td>$<%= number_with_precision(sale.tax, precision: 2) %></td>
        <td><%= sale.customer.name.upcase %></td>
        <td><a href="<%= sale_path(sale) %>" class="button">Show</a></td>
        <td><a href="<%= edit_sale_path(sale) %>" class="button">Edit</a></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_sale_path %>" class="button">New Sale</a>
